@media(max-width: 700px){
    .top{
        width: 100%;
        height: 70px;
        background: linear-gradient(to right, #313131fb, #484747fb, #313131fb);
        border-radius: 20px;
    }
    #logo{
        width: 150px;
        height: 86%;
        border-right: 1px solid black;
        border-radius: 20px 0px 0px 20px;
        font-size: 43px;
        text-align: center;
        color: aqua;
        float: left;
        padding-top: 10px;
    }
    #contact{
        width: 254px;
        height: 70%;
        float: left;
        margin-left: 10px;
        text-align: center;
        padding-top: 20px;
    
    } .contact_vk, .contact_tg, .contact_support{
        font-size: 20px;
        margin-left: 10px;
        color: aqua;
        text-decoration: none;
        transition: .5s;
        border: none;
    }
    .contact_vk:hover, .contact_tg:hover, .contact_support:hover{
        font-size: 20px;
        border-bottom: 1px solid grey;
    }
    
    /* .searches{
        width: 400px;
        height: 30px;
        float: left;
        margin-left: 40px;
        margin-top: 15px;
        border-radius: 20px;
    } #searches{
        width: 78%;
        height: 100%;
        background: #4e4d4d;
        border-radius: 20px 0px 0px 20px;
        font-size: 20px;
    } #search{
        width: 70px;
        height: 37px;
        float: right;
        border-radius: 0px 20px 20px 0px;
        border: 0px solid rgb(20, 19, 19);
        font-size: 20px;
        position: absolute;
        color: aqua;
        transition: 0.1s;
        background: #565555b6;
    } #search:hover{
        border: 2px solid rgb(20, 19, 19);
    } */
    #personal_area{
        width: 120px;
        float: right;
        height: 100%;
        margin-right: 40px;
    } .but_prl_area{
        width: 80%;
        height:70%;
        margin: auto;
        text-align: center;
        color: aqua;
        font-size: 25px;
        padding-top: 14px;
    } #log{
        width: 100%;
        height: 60%;
        margin-top: 1px;
        transition: .4s;
        border-radius: 10px;
        background: rgb(8, 94, 94);
        border: none;
        color: aqua;
        font-size: 20px;
        
    } #log:hover{
        transform: scale(1.1);
    } #log:active{
        transform: scale(.9);
    }
    
    
    
    .main{
        width: 100%;
        height: 820px;
        margin-top: 30px;
        border-radius: 20px;
    }
    #main{
        width: 70%;
        background: #606060;
        border-radius: 20px;
        float: left;
    }.item1{
        width: 70%;
        height: 36%;
        border: 2px solid;
        float: left;
        margin-top: 7px;
        margin-left: 70px;
        border-radius: 20px ;
        box-shadow: 0px 0px 2px 2px rgba(49, 49, 49, 0.552);
        background: #1a1a1a30;
        
    } .img_product{
        width: 100%;
        height: 65%;
        border-radius: 20px 20px 0px 0px;
    } .name_product{
        display: grid;
        grid-gap: 3px;
        grid-column: 1fr 1fr;
        grid-template-areas: 
                    'name_item price_item';
        width: 100%;
        height: 17%;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        font-size: 20px;
        float: left;
    } .img{
        width: 100%;
        height: 100%;
    }.buy{
        width: 70px;
        height: 30px;
        float: left;
        font-size: 18px;
        margin-left: 125px;
        background: rgba(107, 106, 106, 0.856);
        border: none;
        border-radius: 20px;
        transition: .4s;
        margin-top: 3px;
        color: aqua
    } .buy:hover{
        background: rgba(125, 123, 123, 0.643);
        transform: scale(1.1);
    } .buy:active{
        transform: scale(0.9);
    }.price_item{
        width: 100px;
        float: right;
        margin-top: 10px;
        grid-area: price_item;
        color: gold;
    } .name_item{
        margin-top: 10px;
        grid-area: name_item;
        color: rgb(54, 250, 250);
        margin-left: 7px;
    }
    
     #sidebar{
        width: 27%;
        height: 24%;
        border-radius: 20px;
        background: #606060;
        left: 480px;
        position:fixed;
    } #cart{
        text-align: center;
        width: 100%;
        height: 30px;
        font-size: 30px;
        padding: 5px 0px 3px 0px;
        color: rgba(0, 255, 255, 0.76);
        border-bottom: 2px solid aqua;
    } 
    
    .block_reg{
        width: 400px;
        height: 400px;
        background: #414040;
        position: fixed;
        margin: 40px 20%;
        border-radius: 20px;
        display: none;
        z-index: 1;
    } .title_br{
        width: 100%;
        height: 40px;
        color: aqua;
        text-align: center;
        border-bottom: 2px solid aqua;
        font-size: 24px;
        padding-top: 10px;
    } .inp{
        width: 100%;
        height: 60%;
    } .inp_l{
        width: 90%;
        margin-left: 10px;
        margin-top: 30px;
        height: 30px;
        border-radius: 20px;
        background: #818080;
        color: aqua;
        font-size: 15px;
    }.inp_p{
        width: 90%;
        margin-left: 10px;
        margin-top: 30px;
        height: 30px;
        border-radius: 20px;
        background: #818080;
        color: aqua;
        font-size: 15px;
    } .login{
        width: 80px;
        height: 40px;
        font-size: 20px;
        border-radius: 20px;
        border: none;
        background: #818080;
        color: aqua;
        margin-left: 40%;
        transition: .5s;
    } .login:hover{
        transform: scale(1.1);
    }.login:active{
        transform: scale(0.9);
        box-shadow: 0px 0px 3px 5px rgba(255, 255, 255, 0.71);
    }
    .userName{
        margin-top: 6px;
        font-size: 20px;
    }
    
    .order{
        width: 40%;
        height: 30%;
        background: #707070;
        margin: 10% 30%;
        font-size: 24px;
        color: aqua;
        border-radius: 20px;
        border: none;
        transition: .4s;
    } .order:hover{
        transform: scale(1.1);
        box-shadow: 0px 0px 2px 1px rgb(31, 31, 31);
    }.order_block{
        box-shadow: 0px 0px 5px 3px rgb(0, 0, 0);
        width: 400px;
        height: 300px;
        background: #464444;
        position:fixed;
        margin: 40px 20%;
        border-radius: 20px;
        display: none;
        z-index: 1;
    }.inp_order{
        width: 90%;
        margin-left: 10px;
        margin-top: 30px;
        height: 30px;
        border-radius: 20px;
        background: #5f5f5f;
        color: aqua;
        font-size: 15px;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    } .info{
        color: grey;
        margin: 10px 20px;
    }
    .admin{
        color: rgb(255, 97, 69);
    }

}